<html>
	<head>
		{% extends 'master.html' %}
	</head>
	<body>
	{% block body %}
	<div>
	<h3>Hotels in {{city}}<br>
		<small> {{checkin}} - {{checkout}}</small></h3>
	</div>
	<div>
	{% for hotel in hotel_list %}
	Hotel: {{hotel["name"]}}
	<br>
	TripAdvisor: {{hotel["tripAdvisorRating"]}}<br>
	Average Nightly Rate: ${{hotel["RoomRateDetailsList"]["RoomRateDetails"]["RateInfos"]["RateInfo"]["ChargeableRateInfo"]["@averageRate"]}}
	<br>
	<br>
	{% endfor %}
	</div>
	{% endblock %}
	<script src="/static/js/jquery-2.1.0.js"></script>
	</body>
</html>